@{

}
@model AgentPortal.ViewModels.AgentCodeViewModel
<h2>New Agent</h2>

<form action="/home/newAgent" method="post" style="display: grid; width: 30%">
    <label style="display : none" for="agentCode">
        Agent Code:
        <input type="hidden" style="display : none" name="agentCode" id="agentCode" placeholder="AgentCode" value="@Model.AgentCode" />
    </label>

    <label for="agentName">
        Agent Name:
        <input name="agentName" id="agentName" placeholder="AgentName" />
    </label>

    <label for="workingArea">
        Working Area:
        <input name="workingArea" id="commission" placeholder="WorkingArea" />
    </label>

    <label for="commission">
        Commission:
        <input name="commission" id="commission" placeholder="Commission" type="number" step=".01" />
    </label>

    <label for="phoneNo">
        Phone No:
        <input name="phoneNo" id="phoneNo" placeholder="1234567890" />
    </label>

    <button class="btn-success" type="submit" style="margin-top: 1em">Submit</button>
</form>